- method = resource.new_record? ? 'post' : (action_name == 'delete' ? 'delete' : 'patch')
- case method
  - when 'post'
    - url = { controller: controller_name, action: 'create' }
    - button = 'Create'
  - when 'delete'
    - url = { controller: controller_name, action: 'destroy', id: resource.id }
    - button = 'Confirm'
  - else
    - url = { controller: controller_name, action: 'update', id: resource.id }
    - button = 'Save changes'

.modal-dialog.modal-lg{role: "document"}
  .modal-content
    = form_for resource, url: url, method: method, remote: true, validate: true, html: {class: "modal-form form-horizontal #{resource.class.name.demodulize.downcase}-form", role: 'form', multipart: false } do |f|
      .modal-header
        %h5.modal-title= page_title
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;
      .modal-body
        = render 'error_messages', resource: resource
        - if method == 'delete'
          = render 'delete_fields', f: f
        - else
          = render 'form_fields', f: f
        = hidden_field_tag(:return_path, params[:return_path])  if params[:return_path].present?
      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modal', type: 'button'} Close
        - if method == 'delete'
          %button.btn.btn-danger{type: 'submit'}= button
        - else
          %button.btn.btn-primary{type: 'submit'}= button
